body {
  font-family: 'Inter', sans-serif;
}

h2 {
  color: green;
}

.red {
  color: red;
}

#subtitle {
  font-weight: bold;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.brown {
  color: brown;
}

#black {
  color: black;
}

.line-height {
  padding: 30px 0px;
}